*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    border-bottom:1px solid silver;
    margin-bottom: 50px;
    padding:20px;
    position: fixed;
    width: 100%;
    top:0;
    background-color:#600;
    text-align: center;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    font-family: "arial";
    font-size:10pt;
    color:#fff;
    text-decoration: none;
}

main{
    margin-top: 120px;
}


